* {
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
	background: #eee;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

button {
    background: #808;
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

button:hover {
	background-color: #a2a;
}


/* ***
 * Page header styles
 */

header {
	background: #000;
	display: inline-block;
	padding: 0 20px;
	width: 100%;
}

header h1 {
	color: #fff;
	float: left;
	width: 40%;
}

header nav {
	float: right;
	width: 60%;
}

header nav ul {
	float: right;
}

header nav li {
	float: left;
	list-style-type: none;
	padding: 0 20px;
}

header nav li a {
	color: #e8e;
}


/* ***
 * App form styles
 */

#app {
	background: #fff;
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 1024px;
	padding: 20px;
}

#app div {
	display: inline-block;
	text-align: left;
	width: 100%;
}

#todos {
	background: #fff;
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list {
	float: left;
	padding: 10px;
	width: 60%;
}

#newItem {
	padding: 10px;
}


/* ***
 * To do list items
 */

#todos li {
	background: #ddd;
    margin: 5px 20px 5px 0;
	padding: 8px 20px;
}

#todos li:hover {
	background: #eee;
}

#todos .item {
	cursor: pointer;
}

#todos .done .item {
	color: #ccc;
	text-decoration: line-through;
}

#todos a {
	visibility: hidden;
	cursor: pointer;
	margin-left: 1em;
	font-size: .5em;
	text-transform: uppercase;
	color: navy;
}

#todos li:hover a {
	visibility: visible;
}

#todos a:hover {
	text-decoration: underline;
}


/* ***
 * Meta to-do list section
 */

.meta {
	float: right;
	width: 40%;
}