nav {
    border: 1px solid black;
    display: inline-block;
    width: 100%
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    float: left;
    width: 15%;
    height: 40px;
    background: red;
    margin: 1%;
    padding: 0;
}

header {
    border: 1px solid black;
    height: 60px;
}

main {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

main section {
    float: left;
    width: 20%;
    margin: 0 2%;
    height: 60px;
    background: purple;
}

footer {
    margin: 20px 0;
    border: 1px solid black;
    display: inline-block;
    width: 100%;
}

footer section {
    float: left;
    width: 31%;
    margin: 10px 1%;
    height: 60px;
    background: blue;
}

@media only screen and (max-width: 768px) {
    main section {
        float: none;
        margin: 20px 0;
        width: 100%;
    }
}



