ul {
    display: inline-block;
    margin: 0 0 1em;
}

ul li {
    background: #e8e;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    list-style-type: none;
    margin: 0 0.5em;
    padding: 0.5em 1em;
}

ul li:hover {
    background: #d8d;
}

p, footer {
    clear: both;
}